<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnipStack - Login</title>
    <link rel="icon" type="image/png" href="/images/favicon.webp">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<th:block th:insert="~{/fragments/header :: header}"></th:block>

    <section class="form-section">
        <h2>Login to Your Account</h2>
        <form th:action="@{/login}" th:method="POST" th:object="${loginUser}" class="form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" th:field="*{username}" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" th:field="*{password}" placeholder="Enter your password" required>
                <p th:if="${error}" th:text="${error}"></p>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
        <p class="form-note">Don't have an account? <a th:href="@{/register}">Register here</a>.</p>
    </section>
<th:block th:insert="~{/fragments/footer :: footer}"></th:block>
</body>
</html>
